* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 95px;
  background: #222831;
  color: #eee;
  padding: 2% 3%;
}

header h1:hover {
  cursor: default;
}

.navlist {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #eee;
}

.navlist:hover {
  text-decoration: underline;
  color: #00ADB5;
}

main {
  height: 300px;
}