* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 95px;
  background: #222831;
  padding: 2% 3%;
  border-bottom: 1px solid #eee;
}

header h1 {
  font-family: 'Rubik Iso', cursive;
}

header h1:hover {
  cursor: default;
}

.navlist {
  font-size: larger;
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

.navlist:hover {
  text-decoration: underline;
  color: #00ADB5;
}

main {
  background: linear-gradient(to right bottom, #142850, #183057, #1c385f, #214166, #27496d);
  min-height: 100vh;  
}

.banner-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
  display: block;
}

aside {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 16px;  
  align-self: flex-start;
  box-shadow: 0px 3px 6px 0px #27496d;
}

.basic-info-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 16px;
}

.basic-info {
  display: flex;
}

.basic-info>div {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.profile-img {
  width: 35%;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid #eee;
  padding: 1px;
}

.location {
  display: flex;
  margin-top: 4px;
}

.location p {
  font-size: 14px;
  margin-left: 4px;
}

.desc {
  margin-top: 12px;
  margin-left: 4px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

.social-media img {
  margin-right: 4px;
  width: 15px;
  height: 15px;
}

.social-media a {
  position: relative;
}

.socmed-hover-text {
  display: none;
  position: absolute;
}

.social-media a:hover .socmed-hover-text {
  display: block;
  top: -28px;
  background: #222831;
  color: #eee;
  opacity: 95%;
  padding: 3px 8px;
  border-radius: 4px;
}

.article-head-text {
  padding-bottom: 6px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
}

article a {
  display: block;
  width: fit-content;
  margin-bottom: 4px;
}

footer {
  background: #212121;
  min-height: 25px;
  padding: 1% 3%;
}

@media only screen and (min-width: 300px) {
  main {
    padding: 7% 7%;    
  }
  aside {
    width: 100%;
    margin-bottom: 20px;
  }

  article {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .profile-img {
    height: 180px;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    display: flex;
    padding: 3% 3%;
  }

  aside {
    width: 25%;
    position: sticky;
    top: 12px;
    margin-right: 32px;
  }

  .profile-img {
    height: 100px;
  }

  article {
    width: 75%;
  }
}